body {
    background-color: #1a1a2e;
    color: white;
    font-family: 'IRANSans', sans-serif;
}
.bg-purple {
    background-color: #6a0dad;
}
.text-purple {
    color: #9b59b6;
}
.hero {
    background: linear-gradient(rgba(26, 26, 46, 0.8), rgba(26, 26, 46, 0.8)), url('header-bg.jpg') no-repeat center center/cover;
    padding: 100px 0;
}
.btn-purple {
    background-color: transparent;
    color: transparent;
}
.btn-purple:hover {
    background-color: white;
    color: white;
}
